<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
</head>
<body>
    <form name="qform" id="qform" action="/q" method="POST">
        <label for="kw">Keywords: </label>
        <input name='kw' type="text" /></br>
        <label for="cat">Categories: </label>
        <input name='cat' type="text" /></br>
        <input type="submit" />
    </form>
</body>
</html>
